:root {
    --main-color: red;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Cairo', sans-serif;
    /* font-family: "Poppins", sans-serif; */
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:767px) {
    .container {
        width: 100%;
    }
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}



/* start Nav section  */
.Page {
    min-height: 100vh;
    background-color: #eee;
}

.Page>.Nav {
    width: 250px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.Page>.Nav>h3 {
    position: relative;
    margin-bottom: 40px;
}

.Page>.Nav>h3::before {
    content: "";
    position: absolute;
    width: 55%;
    height: 2px;
    background: black;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%);
}

.Page>.Nav>h3::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background: black;
    border: 2px solid white;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%);
    bottom: -20px;
}

.Page>.Nav>ul>li>a {
    display: flex;
    align-items: center;
    font-size: 17px;
    color: black;
    padding: 15px 10px;
}

.Page>.Nav>ul>li>a>i {
    margin-right: 15px;
    font-size: 14px;
}

/* end nav section  */
/* start content-section  */
.Page>.content {
    width: 100%;
}

.Page>.content>.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    border-left: 1px solid #ccc;
}

.Page>.content>.bar>.search {
    position: relative;
}

.Page>.content>.bar>.search>input {
    outline: none;
    padding: 10px;
    border-radius: 12px;
    border: none;
    border: 1px solid #ccc;
    width: 170px;
    padding-left: 30px;
    transition: .3s;
}

.Page>.content>.bar>.search>input:focus {
    width: 200px;
}

.Page>.content>.bar>.search::before {
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: #b0acac;
}

.Page>.content>.bar>.notifac {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Page>.content>.bar>.notifac>i {
    margin-right: 12px;
    font-size: 20px;
    position: relative;
}

.Page>.content>.bar>.notifac>i::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    background: red;
    border-radius: 50%;
    top: -15px;
    left: 14px;
}

.Page>.content>.bar>.notifac>img {
    width: 33px;
}

.Page>.content>h1 {
    margin: 40px 20px 40px 30px;
    position: relative;
    font-size: 38px;
    color: #444;
}

.Page>.content>h1::after {
    content: "";
    position: absolute;
    width: 9%;
    height: 3px;
    background: #444;
    bottom: -9px;
    left: 0;
    border-radius: 7px;

}
